Options +FollowSymLinks
AddType text/x-component .htc

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond $1 !^(index\.php|images|assets|css|content|system|cromelogs|templates|themes|crossdomain\.xml|robots\.txt|admin\.php|sitemap\.xml|human\.txt)
	RewriteRule ^(.*)$ index.php/$1

  #RewriteCond $1 ^(weblog|member|search|Forum_Name|home|work|about|contact|articles|404|lib|P[0-9]{2,8}) [NC] 
  #RewriteRule ^(.*)$ /index.php/$1 [L]

</IfModule> 


<IfModule !mod_rewrite.c>
    # If we don't have mod_rewrite installed, all 404's
    # can be sent to index.php, and everything works as normal.
    # Submitted by: ElliotHaughin

    ErrorDocument 404 /index.php
</IfModule>

# SetEnvIf Host thegoodlab.thegoodlab.com passreq
# AuthType Basic
# AuthName "The Good Lab"
# AuthUserFile /var/www/.htpasswd
# Require valid-user
# Order allow,deny
# Allow from all
# Deny from env=passreq
# Satisfy any