@import "reset.css";
@import "fonts.css";

/*
	Author: Bryant Hughes
*/

/* defaults */
h2{
  font-size:14px;
  font-family:ProximaNovaBold;
  font-weight:normal;
}
.inside{
  margin:0 auto;
  padding:0 10px;
  width:700px;
}
li{
  list-style-type:none;
}
.dotted-line{
  background: transparent url('../images/bg-dots.png') repeat-x left top;
  height:1px;
  width:100%;
}
.green{
  color:#14ffa3;
}

body{
  background: transparent url('../images/bg-main.png') repeat left top;
  padding-bottom:50px;
}

#content-container{
}
/* H E A D E R */
header{
  margin-bottom:23px;
  margin-top:75px !important;
  position:relative;
}
header h1{
  background: transparent url('../images/logo.png') no-repeat left top;
  height:123px;
  left:-150px;
  position:absolute;
  text-indent:-99999px;
  top:35px;
  width:123px;
}
header nav{
  float:left;
}
header nav li{
  float:left;
  font-family:ProximaNovaSemibold;
  font-size:14px
}
header nav li a{
  color:#fff;
  text-decoration:none;
  /**/
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
}
header nav li a:hover{
  color:#14ffa3;
}
header nav li span{
  display:block;
  font-family:ProximaNovaRegular;
  font-size:10px;
  margin-bottom:2px;
}
header ul#dots{
  float:right;
  margin-top:12px;
}
header ul#dots li{
  float:left;
  margin-left:10px;
  position:relative;
}
header ul#dots li img{
  /**/
  opacity:0.7;
  filter:alpha(opacity=70);
}

/*T W I T T E R  C O N T A I N E R*/
#twitter-container{
  background:transparent url('/assets/images/bg-twitter.png') repeat-y left top;
  height:200px;
  left:-390px;
  position:absolute;
  top:0;
  width:312px;
}
#content-container{
  position:relative;
}

/* H O M E */
#site-tag-line{
  color:#fff;
  font-family:CallunaItalic;
  font-size:22px;
  line-height:30px;
  margin: 20px 0;
}
#home-work-samples-container{
  margin-top:25px;
}
.home-work-sample-container{
  float:left;
  height:220px;
  margin-left:20px;
  position:relative;
  width:220px;
}
.home-work-sample-container:first-child{
  margin-left:0;
}
.home-work-samples-content{
  background: transparent url('../images/bg-transparent-gray.png') repeat left top;
  color:#fff;
  height:190px;
  left:0;
  padding:15px;
  position:absolute;
  top:0;
  width:190px;
  /**/
  opacity:0;
  filter:alpha(opacity=0);
}
.home-work-samples-content strong{
  font-family:ProximaNovaSemibold;
  font-size:14px;
}
.home-work-samples-content p{
  font-family:ProximaNovaRegular;
  font-size:14px;
  margin-top:10px;
  line-height:18px;
}
.home-work-samples-content a{
  color:#14ffa3;
  display:block;
  font-family:CallunaItalic;
  font-size:14px;
  margin-top:10px;
  text-decoration:none;
}
.home-work-samples-content a:hover{
  text-decoration:underline;
}
#current-projects, #recent-projects{
  color:#fff;
  font-family:ProximaNovaLight;
  font-size:24px;
}
#current-projects{
  margin-top:25px;
}
#recent-projects{
  margin-top:10px;
}

/* W O R K */
.work-container{
  border-top:#545454 1px solid;
  color:#fff;
  font-family:ProximaNovaRegular;
  font-size:14px;
  margin-top:22px;
  padding-top:25px;
}
.work-container.first{
  border-top:none;
  padding-top:0;
}
.section-title-container{
  
}
.section-title-container h2{
  float:left;
}
.section-title-container a{
  color:#14ffa3;
  float:right;
  font-family:CallunaItalic;
  font-size:14px;
}
.main-work-copy{
  line-height:22px;
  margin-top:15px;
}
.work-slider-container{
  height:281px;
  margin-top:25px;
  position:relative;
  width:700px;
  z-index:1;
}
.work-slider-container .texture{
  background: transparent url('../images/bg-work-texture.png') no-repeat left top;
  height:281px;
  left:0;
  position:absolute;
  top:0;
  width:700px;
  z-index:9;
}
.work-gallery{
  float:left;
  height:288px;
  overflow:hidden;
  width:380px;
}
.work-copy-container{
  float:left;
  padding:15px 15px;
  width:290px;
}
.work-slider-container ul.work-gallery{
  height:281px\9;
}
.work-slider-container ul li{
  font-family:CallunaItalic;
  line-height:22px;
}
.work-slider-container ul li.title{
  color:#14ffa3;
  font-family:CallunaBoldItalic;
  margin-top:0;
}
.technology-list{
  margin-top:10px;
}
.gallery-controls-container{
  bottom:0;
  height:21px;
  position:absolute;
  left:318px;
  z-index:10;
}
.gallery-controls-container a{
  float:left;
  text-decoration:none;
}
.gallery-controls-contaienr a.button-next{
  height:21px;
  width:20px;
}
.gallery-controls-container .dot{
  background: transparent url('/assets/images/dot-small-gray.png') no-repeat left top;
  height:8px;
  margin-top:7px;
  margin-right:6px;
  width:8px;
}
.gallery-controls-container .dot.active{
  background: transparent url('/assets/images/dot-small-green.png') no-repeat left top;
}

/* A B O U T */
#about-content-container{
  color:#fff;
  padding-top:25px;
  /**/
  -webkit-transition: height 300ms ease;
  -moz-transition: height 300ms ease;
  -o-transition: height 300ms ease;
  transition: height 300ms ease;
}
#about-content-container h2{
  margin-top:20px;
}
#about-content-container h2:first-child{
  margin-top:0px;
}
#about-content-container p{
  font-family:ProximaNovaRegular;
  font-size:14px;
  line-height:22px;
  margin-top:10px;
}
#about-content-container p a{
  color:#14ffa3;
}
#about-content-container-right ul{
  margin-top:5px;
}
#about-content-container-right ul.closed{
  display:none;
}
#about-content-container-right ul li{
  font-family: CallunaItalic;
  font-size:12px;
  line-height:20px;
}
#about-content-container-right a{
  text-decoration:none;
}
#about-content-container-right h3{
  color:#14ffa3;
  font-family:CallunaBoldItalic;
  font-size:14px;
  font-weight:normal;
  margin-top:10px;
}

/* C O N T A C T */
#contact-container{
  color:#fff;
  margin-bottom:20px;
}
#contact-container h2{
  margin-top:25px;
}
#contact-container p{
  font-family:ProximaNovaRegular;
  font-size:14px;
  line-height:22px;
  margin-top:10px;
}
#contact-container p a{
  color:#14ffa3;
}
#email-link, #twitter-link{
  color:#14ffa3;
  display:block;
  margin-top:8px;
  font-family:ProximaNovaRegular;
  font-size:14px;
}

/* F O O T E R */
footer{
  color:#fff;
  font-family:CallunaItalic;
  font-size:14px;
  margin-top:25px !important;
}
footer div.dotted-line{
  margin-bottom:24px;
}
#footer-left{
  float:left;
}
#footer-left img{
  margin-top:-3px;
  margin-right:3px;
  vertical-align:middle;
}
footer a{
  color:#fff;
  float:right;
  text-decoration:none;
}
footer a:hover{
  text-decoration:underline;
}

/* G R I D */
.col-1{float:left;padding:0 10px;width:60px;}
.col-2{float:left;padding:0 10px;width:140px;}
.col-3{float:left;padding:0 10px;width:220px;}
.col-4{float:left;padding:0 10px;width:300px;}
.col-5{float:left;padding:0 10px;width:380px;}
.col-6{float:left;padding:0 10px;width:460px;}
.col-7{float:left;padding:0 10px;width:540px;}
.col-8{float:left;padding:0 10px;width:620px;}
.col-9{float:left;padding:0 10px;width:700px;}
.first{padding-left:0 !important;}