body .home-work-sample-container:hover img{
  /**/
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}