{embed="site/header" page_title="Home"}
	
  	<p id='site-tag-line' class='col-8 first'>
  	  The Good Lab is a holistic web development company that focuses <br/> on 
  	  building lean, <span class='green'>smart</span> and scalable web sites and applications.
  	</p>
  	
  	<div class='dotted-line clear'></div>
  	  
  	<ul id='home-work-samples-container' class='has-layout'>
  	  <li class='home-work-sample-container'>
	      <img src='assets/images/home-1.png' alt='nabil' />
	      <div class='home-work-samples-content'>
	        <strong>Nabil Elderkin</strong>
	        <p>
	          We built and integrated a site for renown photographer Nabil Elderkin.  
	          The dynamic page creation and custom media templates allowed him to easily
	          build and extend his site as he expanded his amazing portfolio.
	        </p>
	        <a href='/work/nabil.com'>learn more</a>
	      </div>
  	  </li>
  	  <li class='home-work-sample-container'>
	      <img src='assets/images/home-2.png' alt='nabil' />
	      <div class='home-work-samples-content'>
	        <strong>Wall Street Insiders</strong>
	        <p>
	          WSI approached us with the need for a complete web solution.  We started with strategy, 
	          transitioned to design and development, and followed through with a robust publishing platform
	          and strong social media campaigns.
	        </p>
	        <a href='/work/wall-street-insiders'>learn more</a>
	      </div>
  	  </li>
  	  <li class='home-work-sample-container'>
	      <img src='assets/images/home-3.png' alt='nabil' />
	      <div class='home-work-samples-content'>
	        <strong>Speak Your Mind</strong>
	        <p>
            We leveraged our front-end engineering experience to bring a engaging 
            web experience to university students. Using innovative UI and UX we helped create a 
            site that let students discuss current topical issues.
	        </p>
	        <a href='/work/roosevelt-speak-your-mind'>learn more</a>
	      </div>
  	  </li>
  	</ul>
  	
  	<p id='current-projects'>
  	  Currently: <span class='green'>Marwen</span> / <span class='green'>The Post Family</span> / <span class='green'>Roosevelt</span>
  	</p>
  	<p id='recent-projects'>
  	  Recently: <span class='green'>Nabil</span> / <span class='green'>Wall St. Insiders</span> / <span class='green'>Two Night Stand</span>
  	</p>
	
{embed="site/footer"}