{embed="site/header" page_title="Home"}
	
  	<p id='site-tag-line' class='col-8 first'>
  	  The Good Lab is a holistic web development company that focuses <br/> on 
  	  building lean, <span class='green'>smart</span> and scalable web sites and applications.
  	</p>
  	
  	<div class='dotted-line clear'></div>
  	  
  	<ul id='home-work-samples-container' class='has-layout'>
  	  <li class='home-work-sample-container'>
	      <img src='assets/images/home-1.png' alt='nabil' />
	      <div class='home-work-samples-content'>
	        <strong>Nabil Elderkin</strong>
	        <p>
	          We built and integrated a site for renowd phototographer Nabil Enderkin.  
	          Site created an admin that let him upload and create photo pages dynamicaly and quickly.
	        </p>
	        <a href='javascript:;'>learn more</a>
	      </div>
  	  </li>
  	  <li class='home-work-sample-container'>
	      <img src='assets/images/home-2.png' alt='nabil' />
	      <div class='home-work-samples-content'>
	        <strong>Nabil Elderkin</strong>
	        <p>
	          We built and integrated a site for renowd phototographer Nabil Enderkin.  
	          Site created an admin that let him upload and create photo pages dynamicaly and quickly.
	        </p>
	        <a href='javascript:;'>learn more</a>
	      </div>
  	  </li>
  	  <li class='home-work-sample-container'>
	      <img src='assets/images/home-3.png' alt='nabil' />
	      <div class='home-work-samples-content'>
	        <strong>Nabil Elderkin</strong>
	        <p>
	          We built and integrated a site for renowd phototographer Nabil Enderkin.  
	          Site created an admin that let him upload and create photo pages dynamicaly and quickly.
	        </p>
	        <a href='javascript:;'>learn more</a>
	      </div>
  	  </li>
  	</ul>
  	
  	<p id='current-projects'>
  	  Currently: <span class='green'>Marwen</span> / <span class='green'>The Post Family</span> / <span class='green'>Roosevelt</span>
  	</p>
  	<p id='recent-projects'>
  	  Recently: <span class='green'>Nabil</span> / <span class='green'>Wall St. Insiders</span> / <span class='green'>Two Night Stand</span>
  	</p>
	
	</div><!-- #content-container -->
	
{embed="site/footer"}