{embed="site/header" page_title="Work"}

  {exp:channel:entries
    channel="work"
    disable="categories|category_fields|member_data|pagination|trackbacks"
    limit="3"
    sort="asc"
  }
  
  <div class='work-container {if count == 1}first{/if}'>
    <div class='section-title-container has-layout'>
      <h2>{title}</h2>
    </div>
    <div class='main-work-copy'>
      {work_description}
    </div>
    <div class='work-slider-container'>
      <div class='texture'></div>
      <div class='gallery-controls-container has-layout'>
        {work_images}
        <a href='javascript:;' rel='{row_index}' class='dot-{row_count} dot {if row_count == 1}active{/if}'>&nbsp;</a>
        {/work_images}
        <a href='javascript:;' class='button-next'><img src='/assets/images/button-next.png' /></a>
      </div>
      <ul class='work-gallery'>
        {work_images}
        <li><img height='281' width='380' src='{work_file}' /></li>
        {/work_images}
      </ul>
      <div class='work-copy-container'>
        <ul class='project-metrics'>
          <li class='title'>Client</li>
          <li>{work_client}</li>  
        </ul> 
        <ul class='build-list'>
          <li class='title'>Build</li>
          {work_build}
          <li>{item}</li>
          {/work_build}
        </ul>
      </div>
    </div>
  </div>

  {/exp:channel:entries}

{embed="site/footer"}