{embed="site/header" page_title="Work"}

  {exp:channel:entries
    channel="work"
    disable="categories|category_fields|member_data|trackbacks"
    limit="3"
    pagination="bottom"
    sort="asc"
  }
  
  <div class='work-container {if count == 1}first{/if}'>
    <div class='section-title-container has-layout'>
      <h2>{title}</h2>
    </div>
    <div class='main-work-copy'>
      {work_description}
    </div>
    <div class='work-slider-container'>
      <div class='texture'></div>
      <div class='gallery-controls-container has-layout'>
        <div class='clearfix'>
            
        </div>
        <a href='javascript:;' class='button-next'><img src='/assets/images/button-next.png' /></a>
      </div>
      <ul class='work-gallery'>
        {work_images}
        <li>
          {exp:ed_imageresizer
          image="{work_file}"
          default=""
          maxWidth="380"
          class=""
          alt=""}
      </li>
        {/work_images}
      </ul>
      <div class='work-copy-container'>
        <ul class='project-metrics'>
          <li class='title'>Client</li>
          <li>{work_client}</li>
          <li class='title'>Roles</li>
          <li>{work_roles}</li>
          <li class='title'>Agency</li>
          <li>{work_agency}</li>
        </ul> 
        <ul class='build-list'>
          <li class='title'>Build</li>
          {work_build}
          <li>{item}</li>
          {/work_build}
        </ul>
      </div>
    </div>
  </div>

  {if segment_2 AND paginated == "false"}
  <div id='paginate-container' class='has-layout'>
    <ul id='paginate-list' class='has-layout'>
      <li id=''><a href="/work">See More Work</a></li>
    </ul>
  </div>
  {/if}

  {paginate}
  <div id='paginate-container' class='has-layout'>
    <ul id='paginate-list' class='has-layout'>
    {if previous_page}
      <li id='paginate-previous'><a href="{auto_path}">Previous Work</a></li>
    {/if}
    {if next_page}
      <li id='paginate-next'><a href="{auto_path}">See More Work</a></li>
    {/if}
    </ul>
  </div>
  {/paginate}

  {/exp:channel:entries}

{embed="site/footer"}