
<!-- get clicky -->
<a title="Real Time Web Analytics" href="http://getclicky.com/66504950"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(66504950);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

{!-- JAVASCRIPT --}
{!-- jQuery --}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>/*<![CDATA[*/!window.jQuery && document.write('<script src="assets/js/jquery-1.4.4.min.js"><\/script>')/*]]>*/</script>

{!-- EXTRA SCRIPTS --}
<script type="text/javascript" src="/assets/js/jquery.cycle.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/assets/js/fancybox/jquery.fancybox-1.3.4.pack"></script>

{!-- homebrew --}
<script src="/assets/js/plugins.js?v=1"></script>
<script src="/assets/js/main.js?v=1"></script>

{!--Choose this png hack or the IE redirect in the code_header, but to have both is unnecessary. --}
<!--[if lt IE 7 ]>
	<script type="text/javascript" src="assets/js/iepngfix_tilebg.js"></script>
	<style>
		/* Add comma-separated CSS selectors */
	 	img, div { behavior: url("assets/iepngfix.htc") }
	</style>
<![endif]-->

</body>
</html>