{!-- JAVASCRIPT --}
{!-- jQuery --}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>/*<![CDATA[*/!window.jQuery && document.write('<script src="assets/js/jquery-1.4.4.min.js"><\/script>')/*]]>*/</script>
{!-- jQuery UI --}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
{!-- SWFObject --}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

{!-- EXTRA SCRIPTS --}
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'ff056e13-dfa9-4332-86d3-744f3f5671ab'});</script>
<script type="text/javascript" src="/assets/js/jquery.cycle.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.tmpl.min.js"></script>

{!-- NEED API KEY - Google Loader for jQuery, jQueryUI, Google Webfont, SWFObject, etc.--}
<!--
<script type="text/javascript" src="https://www.google.com/jsapi?key=INSERT_API_KEY"></script>
<script>
/*<![CDATA[*/
	google.load("webfont", "1");
	google.load("jquery", "1.4.4");
	google.load("jqueryui", "1.8.7");
	google.load("swfobject", "2.2");
	google.setOnLoadCallback(function() {
		WebFont.load({
			custom: { 
				families: [ 'Family', 'Family2' ]
			},
			typekit:{ 
				id: "KIT ID #" // Kit ID #
			}
		});
	});
/*]]>*/
</script>
-->

{!-- homebrew --}
<script src="/assets/js/plugins.js?v=1"></script>
<script src="/assets/js/main.js?v=1"></script>
{!--Choose this png hack or the IE redirect in the code_header, but to have both is unnecessary. --}
<!--[if lt IE 7 ]>
	<script type="text/javascript" src="assets/js/iepngfix_tilebg.js"></script>
	<style>
		/* Add comma-separated CSS selectors */
	 	img, div { behavior: url("assets/iepngfix.htc") }
	</style>
<![endif]-->

</body>
</html>