{embed="site/code_header"}
<body>
  
  {!-- page load stats, for debugging --}
  {if logged_in && member_group == "1"}
      <div style="overflow:visible;position: absolute; top:0; right: 0; position: fixed; background-color: #000; color: #fff; font-size: 16px; padding: 5px; font-family:Arial, Helvetica, sans-serif;z-index:1000">
          {elapsed_time} seconds / {total_queries} queries
          <a href='javascript:;' onclick="$(this).parent().fadeOut(200);" style='position:absolute; bottom:-18px; right:0px;height:10px;background-color:#282828;color:#fff;display:block;font-size:11px;text-decoration:none;padding:3px;'>Close</a>
      </div>
  {/if}
  
  <div id='content-container' class='inside clearfix'>
    
    <section id='white-col-container'>
      
      <div class='responsive-inside clearfix'>

        <span id='twitter-title'>Obligatory Twitter Feed</span>

        <h1>The Good Lab</h1><span>mobile</span>

        {exp:tgl_twitter screen_name="thegoodlab" limit="3" create_links="user_mentions|hashtags|urls"}
        <div class='twitter-container'>
          <p>
            {text}
          </p>
          <span class='time'>{status_relative_date}</span>
        </div><!-- .twitter-container -->
        {/exp:tgl_twitter}

      </div><!-- .responsive-inside -->

    </section><!-- #white-col-container -->

    <section id='main-container'>
    
      <header class='clearfix'>
        <a id='h1_link' href='/'><h1>THE GOOD LAB</h1></a>
        <nav>
          <ul class='has-layout'>
            <li class='col-1 first {if segment_1 == "home" OR segment_1 == ""}here{/if}'><a href='{path="/"}'><span class='number'>01</span><span class='link-name'>Home</span></a></li>
            <li class='col-1 {if segment_1 == "work"}here{/if}'><a href='{path="work"}'><span class='number'>02</span><span class='link-name'>Work</span></a></li>
            <li class='col-1 {if segment_1 == "about"}here{/if}'><a href='{path="about"}'><span class='number'>03</span><span class='link-name'>About</span></a></li>
            <li class='col-1 {if segment_1 == "contact"}here{/if}'><a href='{path="contact"}'><span class='number'>04</span><span class='link-name'>Contact</span></a></li>
            <li class='col-1 {if segment_1 == "articles"}here{/if}'><a href='{path="articles"}'><span class='number'>05</span><span class='link-name'>Articles</span></a></li>
          </ul>
        </nav>
        <ul id='dots' class='has-layout'>
          <li><a target="_blank" href='mailto:hello@thegoodlab.com'><img src='/assets/images/icon-mail.png' /></a></li>
          <li><a target="_blank" href='http://www.twitter.com/thegoodlab'><img src='/assets/images/icon-twitter.png' /></a></li>
          {exp:channel:entries
            channel="fun_links"
            disable="categories|category_fields|member_data|pagination|trackbacks"
            dynamic="off"
            order="random"
            limit="1"
          }
          <li><a target="_blank" href='{fun_link_url}'><img src='/assets/images/icon-question.png' /></a></li>
          {/exp:channel:entries}
          
        </ul>
      </header>
      <div class='dotted-line'>&nbsp;</div>