{embed="site/header" page_title="Contact"}

  <section id='contact-container' class='col-7 first'>
    <h2>Say Hello!</h2>
    <p>
      We love meeting new friends and hearing about your projects, so please get in touch!  
      We are easily reachable by email, telephone, twitter and the like:
    </p>
  
    <a id='email-link' href='mailto:hello@thegoodlab.com'>hello@thegoodlab.com</a>
    <a id='twitter-link' href='http://www.twitter.com/thegoodlab'>@thegoodlab</a>
  
    <h2>Ready to Get Started?</h2>
    <p>
      Have a project you want to get started on immediately? Great!  
      Please fill out this brief <a href='/assets/misc/projectintro.doc'>Project Introduction Document</a> 
      and send it to <a href='mailto:projects@thegoodlab.com'>projects@thegoodlab.com</a>.  
      We will read it and get back to you ASAP.
    </p>
  </section>
  
{embed="site/footer"}