{embed="site/header" page_title="About"}

  <section id='about-content-container' class='has-layout'>
    <section id='about-content-container-left' class='col-6 left first'>
      <h2>About</h2>
      <p>
        The Good Lab is a holistic web development company that focuses on building lean, smart and 
        scalable web sites and applications. We believe technical architecture and visual design go 
        hand in hand, and that the design of a product does not stop at a pixel level. We work with 
        small business, start-ups, emerging brands and other niche organizations to help build and 
        create awesome web sites, products and applications.
      </p>

      <h2>Ethos</h2>
      <p>
        Our ethos stems from our passion for the Internet and building products that enhance peoples' 
        experiences on it. Instead of pulling your project into every facet of the web we build solutions 
        that deliver results tailored to your specific business needs. We truly love working with small 
        businesses, helping them achieve their goals and creating products that make the web a better 
        place for all.
      </p>

      <h2>Lets Go</h2>
      <p>
        Like what you’re hearing?  Get in touch and lets get started on your project.  
        We have made the starting point easy, just fill out this <a href='/assets/misc/projectintro.doc'>Project Introduction 
        Document</a> and send it to <a href='mailto:projects@thegoodlab.com'>projects@thegoodlab.com</a>.  We’ll review it and get back to you ASAP.
      </p>
    </section>
    <section id='about-content-container-right' class='col-3 left'>
      <h2>Services</h2>
      <a href='javascript:;' class='services-title'><h3>Development -</h3></a>
      <ul class='open'>
        <li>- HTML / CSS</li>
        <li>- Frontend Engineering</li>
        <li>- Client-side Scripting</li>
        <li>- E-commerce</li>
        <li>- CMS Integrations</li>
        <li>- Deployment and Server Setup</li>
      </ul>
      <a href='javascript:;' class='services-title'><h3>Design +</h3></a>
      <ul class='closed'>
        <li>- Wire-framing and Prototyping</li>
        <li>- Information Architecture</li>
        <li>- Visual Design</li>
        <li>- Interaction Design</li>
      </ul>
      <a href='javascript:;' class='services-title'><h3>System Architecture +</h3></a>
      <ul class='closed'>
        <li>- Database Modeling</li>
        <li>- Requirements Gathering</li>
        <li>- Technical Specifications</li>
      </ul>
      <a href='javascript:;' class='services-title'><h3>Strategy +</h3></a>
      <ul class='closed'>
        <li>- Competitive Analysis</li>
        <li>- Requirements Gathering</li>
        <li>- Market Research</li>
        <li>- Product Branding</li>
      </ul>
    </section>
  </section>

</div><!-- #content-container -->

{embed="site/footer"}