{exp:channel:entries
  channel="articles"
  disable="categories|category_fields|member_data|trackbacks"
  dynamic="on"
  status="open|draft"
  limit="1"}
  
  {if no_results}{redirect="404"}{/if}
  
<div class='blog-listing-article-container'>
  <h2><a href='{title_permalink="articles"}' class='blog-title-link'>{title}</a></h2>
  <span class='blog-date'>{entry_date format="%l, %F %j%S %Y"}</span>
  
  <div id='article-intro-content-container'>
	{exp:smartdown}{article_intro}{/exp:smartdown}
	</div>

	<div id='article-content-container'>
    {exp:smartdown}{article_content}{/exp:smartdown}
  </div>

  <div class='dotted-line mt30'></div>

  {embed="articles/_comments" entry_id="{entry_id}"}

</div>

{embed="articles/_article-sidebar" entry_id="{entry_id}"}
    
{/exp:channel:entries}